
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box; max-width: 100%;
	font-family: 'Noto Sans KR', sans-serif;}

#root{
	width: 100vw;
	height: max-content
}
.cover{
	width: 100vw;
	height: 100vh;
	background-color:var(--g);
	border-bottom: 1px solid black;
}
.index{
	width: 100vw;
	height: 100vh;
	background-color: var(--lg);
	border-bottom: 1px solid black;

}
.p1{
	width: 100vw;

	// p1의 내부
	&>div:nth-child(1){
		width: inherit;
		height: 100vh;
		display: flex;
	border-bottom: 1px solid black;
		
	&>div{
		width: 80vw;
		height: 80vh;
	}
	}
}